{% extends "layout/fluid.html" %}
{% block content %}
<div id="information">
	<h2>{{error.message}}</h2>
	<div class="graph">
		<ul class="occurences hourly">
			{% for o in hourly_occurences %}
			<li class="occurence" data-period="{{o.timestamp|relative_date}}" >{{o.count}}</li>
			{% endfor %}
		</ul>
		<ul class="occurences daily">
			{% for o in daily_occurences %}
			<li class="occurence" data-period="{{o.timestamp|relative_date}}" >{{o.count}}</li>
			{% endfor %}
		</ul>
		<div id="graph-display-daily"></div>
		<div id="graph-display-hourly"></div>
	</div>

	<a href="{{route_url('error_list', project=selected_project.id)}}">back</a>
</div>
{% endblock %}
{% block footer %}
<script src="/static/js/modules/highchart.js" async="true"></script>
{% endblock %}
